<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>soulShol</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
		<key>NSExceptionDomains</key>
		<dict>
			<key>localhost</key>
			<dict>
				<key>NSExceptionAllowsInsecureHTTPLoads</key>
				<true/>
			</dict>
		</dict>
	</dict>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string/>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
	<key>UIAppFonts</key>
	<array>
		<string>Butler-Black.woff</string>
		<string>Butler-Black.woff2</string>
		<string>Butler-Bold.woff</string>
		<string>Butler-Bold.woff2</string>
		<string>Butler-ExtraBold.woff</string>
		<string>Butler-ExtraBold.woff2</string>
		<string>Butler-Light.woff</string>
		<string>Butler-Light.woff2</string>
		<string>Butler-Medium.woff</string>
		<string>Butler-Medium.woff2</string>
		<string>Butler-UltraLight.woff</string>
		<string>Butler-UltraLight.woff2</string>
		<string>Butler.woff</string>
		<string>Butler.woff2</string>
		<string>GothamProMediumItalic.ttf</string>
		<string>GothaProBla.otf</string>
		<string>GothaProBol.otf</string>
		<string>GothaProLig.otf</string>
		<string>GothaProLigIta.otf</string>
		<string>GothaProMed.otf</string>
		<string>GothaProReg.otf</string>
		<string>Butler_Black_Stencil.otf</string>
		<string>Butler_Black.otf</string>
		<string>Butler_Bold_Stencil.otf</string>
		<string>Butler_Bold.otf</string>
		<string>Butler_ExtraBold_Stencil.otf</string>
		<string>Butler_ExtraBold.otf</string>
		<string>Butler_Light_Stencil.otf</string>
		<string>Butler_Light.otf</string>
		<string>Butler_Medium_Stencil.otf</string>
		<string>Butler_Medium.otf</string>
		<string>Butler_Regular_Stencil.otf</string>
		<string>Butler_Regular.otf</string>
		<string>Butler_Ultra_Light_Stencil.otf</string>
		<string>Butler_Ultra_Light.otf</string>
	</array>
</dict>
</plist>
